<st-cart-actions [cart$]="cart$" class="d-flex flex-nowrap justify-content-end border-bottom border-secondary"></st-cart-actions>

<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="entries$ | async as entries">
    <div *ngIf="cart?.totalItems" class="cart-details-wrapper">
      <cx-promotions
        [promotions]="(cart.appliedOrderPromotions || []).concat(cart.potentialOrderPromotions || [])">
      </cx-promotions>

      <st-cart-items
        [items]="entries"
        [cartIsLoading]="!(cartLoaded$ | async)"
        [promotionLocation]="promotionLocation"
        [options]="{
          isSaveForLater: false,
          optionalBtn: saveForLaterBtn
        }"
      ></st-cart-items>
    </div>
  </ng-container>
</ng-container>

<div class="row justify-content-between">
  <st-cart-actions [cart$]="cart$" class="d-flex flex-nowrap justify-content-start col-5"></st-cart-actions>
  <cx-cart-coupon class="col-5 p-0 mr-3"></cx-cart-coupon>
</div>


<ng-template let-ctx #saveForLaterBtn>
  <div *ngIf="selectiveCartEnabled" class="col-md-3 col-lg-3 col-xl-3 cx-sfl-btn">
    <button
      class="link cx-action-link"
      [disabled]="ctx.loading"
      (click)="saveForLater(ctx.item)"
      type="button"
    >
      {{ 'saveForLaterItems.saveForLater' | cxTranslate }}
    </button>
  </div>
</ng-template>
