st-product-grid-item {
  &:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s;
  }

  .st-cart {
    height: 100%;
    display: flex;
    flex-flow: column;

    > * {
      flex: 1;
    }
  }

  .st-product-wrapper {
    position: relative;

    .btn-primary {
      background-color: transparent;
      border: 2px solid black;
      color: var(--cx-color-text);
      font-size: 16px;
      height: 40px;
      padding: 8px 12px;

      &:hover {
        &:not([disabled]) {
          border-color: var(--cx-color-primary);
          color: var(--cx-color-primary);
        }
      }
    }
  }

  .st-actions-container {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-flow: column;
    padding: 10px 20px;
    background-color: #f6f6f6d4;

    .st-size-btn {
      font-size: 16px;
      padding: 7px;
      height: 35px;
      width: 25px;

      &:active,
      &:hover {
        background-color: var(--cx-color-secondary);
      }
    }
  }

  &:hover {
    cx-variant-style-icons,
    .st-actions-container {
      display: flex;
    }
  }

  cx-variant-style-icons {
    display: none;
  }
}
