<ng-container *ngIf="!(isLoading$ | async); else loading">
  <div class="st-cart">
    <form (ngSubmit)="submitForm()" [formGroup]="registerForm" >
      <div class="form-group">
        <label>
          <select formControlName="titleCode" class="form-control">
            <option selected value="" disabled>
              {{ 'register.selectTitle' | cxTranslate }}
            </option>
            <option *ngFor="let title of titles$ | async" [value]="title.code">
              {{ title.name }}
            </option>
          </select>
        </label>
      </div>

      <div class="row">
        <div class="col-12">
          <label>
            <input
              aria-required="true"
              class="st-form-control__input form-control"
              type="text"
              name="firstname"
              placeholder="{{ 'register.firstName.placeholder' | cxTranslate }}"
              formControlName="firstName"
            />
            <span class="st-error-icon material-icons-outlined">error_outline</span>
          </label>
          <cx-form-errors
            aria-live="assertive"
            aria-atomic="true"
            [control]="firstName()"
          ></cx-form-errors>
        </div>
        <div class="col-12">
          <label>
            <input
              aria-required="true"
              class="st-form-control__input form-control"
              type="text"
              name="lastname"
              placeholder="{{ 'register.lastName.placeholder' | cxTranslate }}"
              formControlName="lastName"
            />
            <span class="st-error-icon material-icons-outlined">error_outline</span>
          </label>
          <cx-form-errors
            aria-live="assertive"
            aria-atomic="true"
            [control]="lastName()"
          ></cx-form-errors>
        </div>
      </div>

      <div class="form-group">
        <label>
          <input
            aria-required="true"
            class="st-form-control__input form-control"
            type="email"
            name="email"
            placeholder="{{ 'register.emailAddress.placeholder' | cxTranslate }}"
            formControlName="email"
          />
          <span class="st-error-icon material-icons-outlined">error_outline</span>
        </label>
        <cx-form-errors
          aria-live="assertive"
          aria-atomic="true"
          [control]="email()"
        ></cx-form-errors>
      </div>

      <div class="row">
        <div class="col-12">
          <label>
            <input
              aria-required="true"
              class="st-form-control__input form-control"
              type="password"
              name="password"
              placeholder="{{ 'register.password.placeholder' | cxTranslate }}"
              formControlName="password"
            />
            <span class="st-error-icon material-icons-outlined">error_outline</span>
          </label>
          <cx-form-errors
            aria-live="assertive"
            aria-atomic="true"
            [control]="password()"
          ></cx-form-errors>
        </div>
        <div class="col-12">
          <label>
            <input
              aria-required="true"
              class="st-form-control__input form-control"
              type="password"
              name="confirmpassword"
              placeholder="{{ 'register.confirmPassword.placeholder' | cxTranslate }}"
              formControlName="passwordconf"
            />
            <span class="st-error-icon material-icons-outlined">error_outline</span>
          </label>
          <cx-form-errors
            aria-live="assertive"
            aria-atomic="true"
            [control]="passwordconf()"
          ></cx-form-errors>
        </div>
      </div>

      <div class="form-group mt-3 mb-2">
        <div class="form-check">
          <label *ngIf="anonymousConsent$ | async as anonymousConsent" class="d-flex flex-row flex-nowrap">
            <input
              type="checkbox"
              name="newsletter"
              class="st-checkbox form-check-input flex-shrink-0"
              formControlName="newsletter"
              [checked]="isConsentGiven(anonymousConsent.consent)"
            />
            <span class="st-error-icon material-icons-outlined">error_outline</span>
            <span class="form-check-label">{{ anonymousConsent.template }}</span>
          </label>
        </div>
      </div>

      <div class="form-group mt-2 mb-3">
        <div class="form-check">
          <label class="d-flex flex-row flex-nowrap">
            <input
              class="st-checkbox flex-shrink-0"
              aria-required="true"
              type="checkbox"
              name="termsandconditions"
              formControlName="termsandconditions"
            />
            <span class="form-check-label">{{ 'register.confirmThatRead' | cxTranslate }}
              <a
                [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl"
                target="_blank"
              >{{ 'register.termsAndConditions' | cxTranslate }}
              </a>
            </span>
            <cx-form-errors
              aria-live="assertive"
              aria-atomic="true"
              [control]="termsandconditions()"
            ></cx-form-errors>
          </label>
        </div>
      </div>

      <button type="submit" class="btn btn-block st-btn-primary mb-3">{{ 'register.register' | cxTranslate }}</button>

      <st-link [routerUrl]="{ cxRoute: 'login' } | cxUrl" [text]="'Already have an account? Sign in.'"></st-link>
    </form>
  </div>
</ng-container>

<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
