:host {
  .st-comparison {
    &__table {
      &-header {
        th {
          vertical-align: top;
          position: relative;
          width: 20vw;
          min-width: 200px;
        }

        .st-item-info {
          > * {
            flex: 1 1 100%;
          }

          .st-comparison__item-image {
            flex: 2 0 100%;
          }

          .st-remove-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;

            &:hover {
              color: var(--cx-color-primary);
            }
          }

          .st-link {
            cursor: pointer;
          }
        }
      }

      &-body {
        td {
          vertical-align: top;
          padding: 0;

          .card {
            border: none;
          }

          .card-header {
            border-right: 1px solid white;
            background-color: var(--cx-color-secondary);
          }

          .empty {
            display: flex;
            justify-content: center;
            align-self: center;
            padding: 30px 0;
          }
        }

        tr:hover {
          .card {
            background-color: #f4f4f4;
          }
        }

        .st-classification{
          &__name {
            padding: 10px;
            text-align: center;
            font-size: 18px;
            background-color: var(--cx-color-primary);
          }

          &__data {
            .list-group {
              padding-left: 10px;

              &-item {
                &:not(.list-icon) {
                  list-style: none;
                }
              }
            }
          }
        }
      }
    }

    &__item-image {
      flex-basis: 100%;
      text-align: center;

      img {
        height: 100%;
        max-height: 150px;
      }
    }

    &__item-property {

    }
  }
}
