<div class="st-comparison mb-4">
  <ng-container *ngIf="comparisonProducts$ | async as comparisonProducts; else loading">

    <div *ngIf="comparisonProducts.products.length as productsLength" class="st-comparison__table">
      <table *ngIf="comparisonProducts.classifications.length" class="table table-striped table-hover table-responsive">
        <thead class="st-comparison__table-header">
          <tr>
            <th *ngFor="let product of comparisonProducts.products" scope="col">
              <div class="st-item-info d-flex flex-row flex-wrap align-items-center w-100 h-100">
                <button *ngIf="product.code"
                        class="st-remove-btn btn remove"
                        type="button"
                        (click)="deleteFromComparison(product.code)"
                >
                  <span class="material-icons-outlined">highlight_off</span>
                </button>

                <a [routerLink]="{ cxRoute: 'product', params: product } | cxUrl" class="st-link d-flex flex-column">
                 <div *ngIf="getImage(product) as image" class="st-comparison__item-image">
                   <img src="{{baseUrl}}{{image}}" alt="{{ product.name }}" (click)="navigateToProduct(product)"/>
                 </div>

                 <span class="st-comparison__item-property">{{product.name}}</span>
                 <span class="st-comparison__item-property">{{product.code}}</span>
                 <span class="st-comparison__item-property">{{product.price?.formattedValue}}</span>
                 <cx-star-rating *ngIf="product.averageRating" [rating]="product?.averageRating"></cx-star-rating>
               </a>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="st-comparison__table-body">
          <ng-container *ngFor="let classification of comparisonProducts.classifications">
          <tr>
            <td [attr.colspan]="productsLength" class="st-classification__name">{{ classification.name }}</td>
          </tr>
          <tr>
            <ng-container *ngIf="classification.code">
              <ng-container *ngFor="let product of comparisonProducts.products">
                <td  class="st-classification__data">
                  <div class="st-property" *ngIf="containsClassification(product, classification?.code); else empty_content">
                    <ng-container *ngFor="let productClass of product.classifications">
                      <ng-container *ngIf="productClass.code==classification.code">
                        <div class="card border-light" *ngFor="let feature of productClass.features">
                          <div class="card-header text-center ">
                            {{ feature.name }}
                          </div>
                          <ul class="list-group list-group-flush">
                            <li *ngFor="let featureValue of feature?.featureValues" class="list-group-item {{ feature?.featureValues.length > 1 ? 'list-icon' : '' }}">
                              {{ featureValue?.value }}
                            </li>
                          </ul>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>

    <div *ngIf="!comparisonProducts.products" class="empty">
      <h1>Comparison list is empty.</h1>
    </div>

  </ng-container>

  <ng-template #empty_content>
    <span class="property empty text-center">---</span>
  </ng-template>

  <ng-template #loading>
    <div class="lds-dual-ring"></div>
  </ng-template>

</div>
