<table class="table">
  <thead class="thead-light">
    <tr *ngIf="hasHeader">
      <th scope="col" class="st-product-thumbnail">Product</th>
      <th scope="col" class="st-product-info">Details</th>
      <th scope="col" class="st-product-quantity">Qty</th>
      <th scope="col" class="st-product-quantity">{{ options.isSaveForLater ? 'Stock' : 'Total' }}</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let item of items; let i = index">
      <ng-container *ngIf="getControl(item) | async as control">
          <st-cart-item
            [item]="item"
            [quantityControl]="quantityControl(control)"
            [readonly]="readonly"
            [promotionLocation]="promotionLocation"
            [options]="options"
            [class.is-changed]="control.get('quantity')?.disabled"
          >
          </st-cart-item>
      </ng-container>
    </ng-container>
  </tbody>
</table>
