$font-family-brand: "Comfortaa", sans-serif;
$font-family-Dosis: 'Dosis', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;

$font-size-x-large: 22px;
$font-size-large: 18px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

