<div class="st-cart my-2">
  <ng-container *ngIf="cart$ | async as cart">
    <div class="d-flex justify-content-center align-items-center">
      <div class="p-2">
        <st-link
          [iconType]="iconTypes.saved_cart"
          [text]="'addToSavedCart.savedCarts' | cxTranslate"
          [routerUrl]="{ cxRoute: 'savedCarts' } | cxUrl"
        ></st-link>
      </div>
      <div class="p-2">
        <st-link #element cxAutoFocus
          [iconType]="iconTypes.bookmarks"
          [text]="'addToSavedCart.saveCartForLater' | cxTranslate"
          (click)="saveCart(cart)"
        ></st-link>
      </div>
      <div class="p-2">
        <st-link *ngIf="(entries$ | async)?.length > 0 && (entries$ | async) as entries"
                 [iconType]="iconTypes.export"
                 [text]="'exportEntries.exportToCsv' | cxTranslate"
                 (click)="exportCsv(entries)"
        ></st-link>
      </div>
    </div>
  </ng-container>
</div>
