<ng-template [cxOutlet]="CartOutlets.ITEM">
  <tr>
    <td class="st-image-container">
      <a [routerLink]="{ cxRoute: 'product', params: item.product } | cxUrl" cxModal="dismiss" tabindex="-1">
        <cx-media [container]="item.product.images?.PRIMARY" format="cartIcon"></cx-media>
      </a>
    </td>
    <td class="st-info d-flex flex-column justify-content-start mt-2">
      <div *ngIf="item.product.name" class="cx-name">
        <a class="cx-link" [routerLink]="{ cxRoute: 'product', params: item.product } | cxUrl" cxModal="dismiss">
          <span>{{ item.product.name }}</span>
        </a>
      </div>

      <div *ngIf="item?.basePrice" class="cx-price d-flex flex-row flex-nowrap">
        <div class="cx-label mr-2">
          {{ 'cartItems.itemPrice' | cxTranslate }}:
        </div>
        <div class="cx-value">
          {{ item?.basePrice?.formattedValue }}
        </div>
      </div>

      <div class="st-data d-flex flex-row flex-nowrap" *ngFor="let param of item?.product.baseOptions[0].selected.variantOptionQualifiers">
          <div class="cx-label mr-2">
            {{ param.name }}:
          </div>
          <div class="cx-value">
            {{ param.value }}
          </div>
      </div>

      <div *ngIf="isProductOutOfStock(item?.product)" class="cx-availability">
        {{ 'addToCart.outOfStock' | cxTranslate }}
      </div>
    </td>
    <td class="st-quantity">
        <div class="cx-value mx-3" [class.readonly-value]="readonly">
          <input class="st-qty-input form-control text-center" type="number" id="qty" name="quantity" min="0" [value]="quantityControl.value" [control]="quantityControl" [max]="getMax(item)">
        </div>
    </td>
    <td class="st-total">
      <ng-container *ngIf="options?.isSaveForLater; else total">
          <div *ngIf="item?.product?.stock?.stockLevel; else forceInstock" class="cx-value">
            {{ item?.product?.stock?.stockLevel }}
          </div>
          <ng-template #forceInstock>
            <div class="cx-value">
              {{ 'saveForLaterItems.forceInStock' | cxTranslate }}
            </div>
          </ng-template>
      </ng-container>

      <ng-template #total>
        <div *ngIf="item?.totalPrice" class="cx-total">
          <div class="cx-value">{{ item?.totalPrice?.formattedValue }}</div>
        </div>
      </ng-template>
    </td>
  </tr>
  <tr class="st-actions-row">
    <td colspan="4">
      <!-- Item Bundle Details Outlet -->
      <ng-template [cxOutlet]="CartOutlets.ITEM_BUNDLE_DETAILS"> </ng-template>

      <!-- Promotion -->
      <cx-promotions [promotions]="getPromotions(item)"></cx-promotions>

      <!-- Actions -->
      <div *ngIf="(!readonly || options?.isSaveForLater) && item?.updateable" class="cx-actions">
        <ng-container *ngIf="!isProductOutOfStock(item?.product)">
          <ng-container *ngTemplateOutlet="options.optionalBtn; context: { $implicit: { loading: quantityControl?.disabled, item: item } }"
          ></ng-container>
        </ng-container>
      </div>

      <div class="d-flex justify-content-end">
        <st-link [iconType]="iconTypes.favorite" customClass="flex-row ml-3" text="Add to favourite"></st-link>
        <st-link [iconType]="iconTypes.bookmark" customClass="flex-row ml-3" text="Save for later"></st-link>
        <st-link [iconType]="iconTypes.delete" customClass="flex-row ml-3" text="Remove" (click)="removeItem()"></st-link>
      </div>
    </td>
  </tr>
</ng-template>
